{{#extend "base"}}
{{#content "splash" mode="prepend"}}
<div class="outside">
  <h2 style="transform:rotate(-90deg);">JOHNNY MANCHILD AND THE POOR BASTARDS</h2>
</div>

<section class="hero container">
    <img id="logo" src="./img/jm-logo.png"></img>
    <h2 class="animated fadeInUp" >Valencia</h2>
    <h3 class="tag animated fadeInUp delay2">Out Now</h3>
    <ul style="margin-top:50pt;">
      <li class="animated fadeIn delay3"><a href="https://open.spotify.com/album/3FagXVBcntNow9olacDGvW"><img src="./img/ic-spotify.png" width="22px"></img></a></li>
      <li class="animated fadeIn delay4"><a href="https://itun.es/us/AUHuhb"><img src="./img/ic-music.png"height="22px"></img></a></li>
    </ul>


</section>

{{/content}}

{{#content "main" mode="prepend"}}
<section class="hero">
  <div class="hero-content">
    <img id="logo" src="./img/jm-logo.png"></img>
    <h2>JOHNNY MANCHILD AND<br>THE POOR BASTARDS</h2>
    <h3 class="tag">Debut EP Valenica out everywhere 2.17.2017</h3>

    <a class="yellow btn" href="#" >Get the ep</a><br>
    <a class="blue btn" href="#" >Buy Merch</a>

  </div>
</section>
<section class="feature">
  <div class="album skewfix">
    <a href="" title="Play audio" class="play"></a>

  </div>
  <div class="stream-links">
    <img class="skewfix" src="./img/ic-spotify.png"></img>
    <img class="skewfix" src="./img/ic-music.png"></img>
  </div>
  <div class="album-right"
    <h1>hi</h1>
  </div>
</section>
<section class="container">

  <h1>Meet The Bastards</h1>
</section>
<div class="footer">
  <audio controls="controls" id="audio_player">
    <source src="./assets/annie.ogg" type="audio/ogg" />
    <source src="./assets/annie.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</div>
{{/content}}
{{/extend}}
